.alert {
	width: 90%;
	margin: 0 auto;
	border: 1px solid #9a0f0f85;
	background-color: #f8d7da;
	color: #2d2d2d;
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	transition-duration: 5s;
	opacity: 1;
	font-size: 20px;
	font-family: sans-serif;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}