.navbar {
	display: inline-block;
	min-width: 100%;
	max-height: 40%;
}

i {
	display: inline-block;
	margin-right: 0.6rem;
	margin-left: 0.6rem;
	font-size: 1.2rem;
	margin-top: 1.5vh;
}

.social {
	float: right;
	max-width: 50%;
}

.navbar-nav {
	display: -webkit-box;
	margin: 2.5% auto 0px auto;
	float: right;
}

.navbar a, i {
	cursor: pointer;
}

.navbar a, i:hover {
	transform: scale(1.1);
	transition: all .1s ease-in-out;
}

h1 {
	font-family: lobster;
	color: #2d2d2d;
}

nav.navbar {
	background-color: #fbe8f5;
	border-radius: 2px;
	border: 1px solid #2d2d2d26;
}

