.footer	 {
  background-color: #158da0;
  text-align: center;
  margin: 10px 0px;
  box-shadow: 0 1px 5px rgba(0,0,0,.15);
  color: #2d2d2d;
}

.footerText {
	padding: 20px 0px;
}

h3 {
	margin: 0;
}