.display {
	background-color: #55c5bf;
  min-height: 550px;
	text-align: center;
	border-radius: 3px;
	display: grid;
	border: 1px solid #2d2d2d26;

}

.position {
	background-color: #ccfdf2;
	border-radius: 7px;
	margin: 5px auto;
	width: 95%;
	height: 100%;
	border: 1px solid #2d2d2d66;
}


.elevator {
	margin: 0px auto;
	background-color: #9f23d1;
	border: 1.5px solid black;
	width: 55%;
	height: 49%;
}


.floors {
	min-height: 25%;
	min-width: 38%;
	max-width: 45%;
	border-bottom: 1px solid black;
	display: inline-flex;
}

.lane {
	padding-left: 10px;
	padding-right: 0px;
	max-width: 16%;
}

.start {
	margin-top: -50px;
}

i.fa-male {
	margin: 55px auto 0px auto;
	font-size: 30px;
}

.add {
	display: inherit;
	position: relative;
}

.form-control {
	width: 45%;
	text-align: center;
}

.floorCheck {
	display: inline-flex;
	margin: 0% 0% 0% 20%;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

.confirm {
	margin: 0.5% 10% 0% 10% !important;
	border: 1px solid #ced4da;
	max-height: 57%;
	font-size: 32px !important;
	background-color: #fff;
}

.confirm:hover {
	border: 1px solid #138496;
	transform: scale(1.1);
	transition: all .1s ease-in-out;
}

@keyframes outline {
	from {
		color: transparent;
        opacity: 0;
        transform: scale(0, 0);
    }
    50% {
    	color: grey;
        opacity: 1;
        transform: scale(1.1, 1.1);
    }
    to {
    	color: black;
        transform: scale(1, 1);
    }

}

.animateOnce {
  -webkit-animation: outline 0.75s normal forwards; 
  -moz-animation:    outline 0.75s normal forwards;
  -o-animation:      outline 0.75s normal forwards;
}

.btn-info {
	margin: 10px auto;
	font-size: 1.75rem;
}
